html,
*{
	padding: 0;
	margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
  background-color: black;
}
nav{
  font-weight: bold;
  font-size: 20px;
  color: white;  
}
li {
  list-style: none;
   font-weight: bold;
  font-size: 20px;
  font-family: 'Alegreya Sans', sans-serif;
}
a{
  color: whitesmoke;
  text-decoration: none;
}
a:hover{
  color: #EC0404;
}
.a-disciplinas{
  text-decoration: underline;
}
.titulo{
  padding-left: 20px;
  color: #EC0404;
  font-size: 38px;
  margin-top: 50 px;
} 
.sub{
  padding-left: 40px;
  font-size:20px ;
  font-weight: bold;
  color: whitesmoke; 
}
p{
  padding-left: 40px;
  font-weight: bold;
  font-size: 20px;
  color: whitesmoke;
}
.descripcion_foto{
  font-size: 18px;
  font-weight:bold;
  color: #EC0404;
  font-family: 'Alegreya Sans', sans-serif;
  padding-left: 0px;
}
.opciones-formulario, .paginas-web{
  font-size: 16px;
  color: whitesmoke;
}
.cop{
  color: #E52222;
  font-size: 11px;
}
.actividades, .productos, .nosotros{
  color: #D10202;
  padding-left: 20px;
}
.sub-actividades, .sub-productos, .sub-nosotros, .sub-contacto{
  font-size: 32px;
  color: ghostwhite;
}
.titulo-index{
  font-size: 21px;
  color: whitesmoke;
}
.sub-paratyc{
  font-size:18px ;
  font-weight: lighter;
  color: whitesmoke; 
}

.titulo-deportistas{
  margin-top: 15px;
  color: white;
  font-size:22px ;
  font-weight: bold;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.menu li{
  display: inline-flex;
}
.navegable{
  display: flex;
  justify-content: flex-end;
  column-gap: 7%; 
}
.grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;

    grid-template-areas: "fotoboxeo fotocrossfit fotoculturista"
                         "boxeo crossfit culturista"
    
  }
  .grid1{
    grid-area: fotoboxeo;
  }
  .grid2{
    grid-area: boxeo;
  }
  .grid3{
    grid-area: fotocrossfit;  
  }
  .grid4{
    grid-area: crossfit;
  }
  .grid5{
    grid-area: fotoculturista;
  }
  .grid6{
    grid-area: culturista;
  }
.flex_redes{
  display: flex;
  justify-content: space-between;
  margin: 40px;
}
.contenedor{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 1%;
  padding-left: 7%;
  padding-right: 7%;
}
@media (max-width: 900px){
  .grilla{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;

    grid-template-areas: "fotoboxeo boxeo"
                         "fotocrossfit crossfit"
                         "fotoculturista culturista";
    
    
  }
  .grid1{
    grid-area: fotoboxeo;
  }
  .grid2{
    grid-area: boxeo;
  }
  .grid3{
    grid-area: fotocrossfit;  
  }
  .grid4{
    grid-area: crossfit;
  }
  .grid5{
    grid-area: fotoculturista;
  }
  .grid6{
    grid-area: culturista;
  }
  .menu {
  display: flex;
  flex-direction: row-reverse;  
  justify-content: space-between;
  padding: 1%; 
  }
  .logo{
    margin: auto;  
  }
  .navegable{    
    flex-direction: column;
  }
}


   

  

